<div class="container mt-5 d-flex justify-content-center">
      <div class="card-new-product card text-white bg-primary mb-3 p-3 w" style="max-width: 30rem;">
            <div class="card-header text-center">Adicionar novo produto</div>

            <div class="card-body">
                  <input type="text" class="form-control" placeholder="digite seu nome">
                  <input type="text" class="form-control mt-4" placeholder="digite a descrição do produto">
                  <input type="text" class="form-control mt-4" placeholder="digite a quantidade em estoque">
                  <input type="text" class="form-control mt-4" placeholder="digite o preço">

                  <div class="d-flex justify-content-between mt-4">
                        <button routerLink="/list-products" type="button" class="btn btn-secondary">Voltar</button>
                        <button type="button" class="btn btn-info">Salvar</button>
                  </div>
            </div>
      </div>
</div>