<div class="list-products container mt-5">
      
      <div class="product-header">
            <h2>Lista de Produtos</h2>
            <button routerLink="/add" type="button" class="btn btn-info">Adicionar novo produto</button>

      </div>

      <table class="table table-hover">
            <thead>
                  <tr class="table-dark">
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Estoque</th>
                        <th scope="col">Preço</th>
                        <th scope="col"></th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let item of listProducts" class="table-light">
                        <th>{{ item.name }}</th>
                        <td>{{ item.description }}</td>
                        <td>{{ item.stock }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                              <button [routerLink]="['/edit', item.id ]" type="button" class="btn btn-primary btn-sm mx-2">Editar</button>

                              <button type="button" class="btn btn-primary btn-sm">Excluir</button>      
                        </td>
                  </tr>
                  
            </tbody>
      </table>
</div>
